<!--=======content================================-->
<section class="content">
    <div class="container_12">
        <div class="row">
          <div style="float:right; margin: 20px;">
            Contact Us: +91 8982424436
          </div>
          <div style ="clear: both"></div>
          <center>
          <h1>
            <a href="index.html">
              <%= image_tag("logo-1.png", :alt => "Ghar Pe Khaana" ,:style =>"width:600px; margin-top:55px;")%>
            </a>
          </h1>
          <div class="grid_12 f-logo" style ="margin-bottom:55px">
            Coming Soon...
          </div>
       </center>
<!--            <div class="grid_12">
                <h2>Latest reviews:</h2>
                <div class="list_carousel responsive clearfix">
                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 960px; height: 419px; margin: 0px; overflow: hidden; cursor: move;">
                      <ul id="foo" class="clearfix" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 3360px; height: 419px;">
                        <li style="width: 220px;">
                            <div class="box-2">
                                <div class="inside">
                                    <%= image_tag("page-1_img-3.jpg", :alt => "", :class => "wrapper")%>
                                    <div class="stars">
                                        <div>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#" class="ic-1"></a>
                                            <a href="#" class="ic-1"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="inside-1">
                                    <h4>Boston Garden</h4>
                                    <p class="text-2">121 E Sunset Rd, Las Vegas, NV, 89119</p>
                                    <div>Praesent vestibulum aenean nonummy hendrerit mauris.Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                                </div>
                            </div>
                        </li>
                        <li style="width: 220px;">
                            <div class="box-2">
                                <div class="inside">
                                    <%= image_tag("page-1_img-4.jpg", :alt => "", :class => "wrapper")%>
                                    <div class="stars">
                                        <div>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#" class="ic-1"></a>
                                            <a href="#" class="ic-1"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="inside-1">
                                    <h4>Japanese Restaurant</h4>
                                    <p class="text-2">5025 S Fort Apache Rd, Las Vegas, NV, 89148</p>
                                    <div>Praesent vestibulum aenean nonummy hendrerit mauris.Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                                </div>
                            </div>
                        </li>
                        <li style="width: 220px;">
                            <div class="box-2">
                                <div class="inside">
                                    <%= image_tag("page-1_img-5.jpg", :alt => "", :class => "wrapper")%>
                                    <div class="stars">
                                        <div>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#" class="ic-1"></a>
                                            <a href="#" class="ic-1"></a>
                                            <a href="#" class="ic-1"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="inside-1">
                                    <h4>Verandah</h4>
                                    <p class="text-2">3960 Las Vegas Blvd S, Las Vegas, NV, 89119</p>
                                    <div>Praesent vestibulum aenean nonummy hendrerit mauris.Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                                </div>
                            </div>
                        </li>
                        <li style="width: 220px;">
                            <div class="box-2">
                                <div class="inside">
                                    <%= image_tag("page-1_img-6.jpg", :alt => "", :class => "wrapper")%>
                                    <img src="/images/page-1_img-6.jpg" alt="" class="wrapper">
                                    <div class="stars">
                                        <div>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="inside-1">
                                    <h4>Aureole Las Vegas</h4>
                                    <p class="text-2">3950 Las Vegas Blvd S, Las Vegas, NV, 89119</p>
                                    <div>Praesent vestibulum aenean nonummy hendrerit mauris.Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                                </div>
                            </div>
                        </li>
                        <li style="width: 220px;">
                            <div class="box-2">
                                <div class="inside">
                                    <%= image_tag("page-1_img-4.jpg", :alt => "", :class => "wrapper")%>
                                    <img src="/images/page-1_img-4.jpg" alt="" class="wrapper">
                                    <div class="stars">
                                        <div>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                            <a href="#"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="inside-1">
                                    <h4>Japanese Restaurant</h4>
                                    <p class="text-2">5025 S Fort Apache Rd, Las Vegas, NV, 89148</p>
                                    <div>Praesent vestibulum aenean nonummy hendrerit mauris.Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                                </div>
                            </div>
                        </li>
                    </ul></div>
                    <div class="arrows clearfix">
                        <a id="prev1" class="prev" href="#" style="display: block;"></a>
                        <a id="next1" class="next" href="#" style="display: block;"></a>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="bord-2"></div>
<!--    <div class="bg-1 pad-bot">
        <div class="container_12">
            <div class="row">
                <div class="grid_3">
                    <h3>Useful Links</h3>
                    <ul class="list">
                        <li><a href="#">Praesent vestibulum aenean</a></li>
                        <li><a href="#">Nonummy hendrerit mauris</a></li>
                        <li><a href="#">Cum sociis natoque</a></li>
                        <li><a href="#">Magnis dis parturient montes</a></li>
                        <li><a href="#">Fusce feugiat malesuada</a></li>
                        <li><a href="#">Morbi nunc odio gravida</a></li>
                        <li><a href="#">Maecenas tristique orci</a></li>
                        <li><a href="#">Duis ultricies pharetra</a></li>
                    </ul>
                </div>
                <div class="grid_3 suffix_1">
                    <h3>Culinary Events:</h3>
                    <div class="box-3 clearfix">
                        <div class="date">Jan. <span>25</span></div>
                        <div class="extra-wrap">Praesent vestibulum aenean nonummy hendrerit mauriscum sociis natoque. </div>
                    </div>
                    <div class="box-3 clearfix">
                        <div class="date">Jan. <span>20</span></div>
                        <div class="extra-wrap">Praesent vestibulum aenean nonummy hendrerit mauriscum sociis natoque. </div>
                    </div>
                    <div class="box-3 clearfix">
                        <div class="date">Jan. <span>15</span></div>
                        <div class="extra-wrap">Praesent vestibulum aenean nonummy hendrerit mauriscum sociis natoque. </div>
                    </div>
                </div>
                <div class="grid_5">
                    <h3>Restaurants News:</h3>
                    <div class="box-4 top-1">
                        <div class="date" style="height: 70px;"><div class="box_inner">Jan. <span>25</span></div></div>
                        <div class="extra-wrap" style="height: 70px;"><div class="box_inner">
                            <div class="inside">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                        </div></div>
                    </div>
                    <div class="box-4">
                        <div class="date" style="height: 70px;"><div class="box_inner">Jan. <span>20</span></div></div>
                        <div class="extra-wrap" style="height: 70px;"><div class="box_inner">
                            <div class="inside">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                        </div></div>
                    </div>
                    <div class="box-4">
                        <div class="date" style="height: 70px;"><div class="box_inner">Jan. <span>15</span></div></div>
                        <div class="extra-wrap" style="height: 70px;"><div class="box_inner">
                            <div class="inside">Praesent vestibulum aenean nonummy hendrerit mauris. Cum sociis natoque penatibus et magnis dis parturient montes.</div>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</section>
<!--=======footer=================================-->
