<html lang="en"><head>
    <title>Reviews</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/superfish.css">

<!--    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.1.1.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/script.js"></script><meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <script src="js/superfish.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>

    <script src="js/jquery.ui.totop.js"></script>-->

    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
         </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
    <![endif]-->
    </head>
    <body>
<!--==============================header=================================-->
<header>
    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <nav>
                    <ul class="sf-menu sf-js-enabled sf-arrows">
                        <li><a href="index.html">Home</a></li>
                        <li class="current"><a href="index-1.html">Reviews</a></li>
                        <li class=""><a href="index-2.html" class="sf-with-ul">Restaurants a-z</a>
                            <ul style="display: none;">
                                <li><a href="#">Columns 01</a></li>
                                <li><a href="#">Columns 02</a>
                                </li><li><a href="#" class="sf-with-ul">Columns 03</a>
                                    <ul style="display: none;">
                                        <li><a href="#">Columns 04</a></li>
                                        <li><a href="#">Columns 05</a></li>
                                    </ul>
                                </li>
                           </ul>
                        </li>
                        <li><a href="index-3.html">Menus</a></li>
                        <li><a href="index-4.html">Contacts</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row h-main">
            <div class="grid_12">
                <h1><a href="index.html">
                    <%= image_tag("logo.png", :alt => "Restaurant Review")%>
                  </a></h1>
            </div>
        </div>
    </div>
</header>

<!--=======content================================-->

<section class="content">
    <div class="container_12">
        <div class="row">
            <div class="grid_8">
                <h2>Reviews of the week</h2>
                <div class="clearfix block-2">
                    <div class="img-bord img-ind w1">
                      <%= image_tag("page-2_img-1.jpg", :alt => "")%>
                    </div>
                    <div>
                        <div class="stars v1">
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#" class="ic-1"></a>
                        </div>
                        <h4>Mauris facilisis eget</h4>
                        <p class="text-2">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut aliquet, nulla.</p>
                        <div>Mauris facilisis eget quam ut convallis. Donec viverra ut libero id auctor! Nulla non mi velit! Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia aliquet, nulla sit condimentum semper, augue.</div>
                        <a href="#" class="link">Read more</a>
                    </div>
                </div>
                <div class="clearfix block-2">
                    <div class="img-bord img-ind w1">
                      <%= image_tag("page-2_img-2.jpg", :alt => "")%>
                    </div>
                    <div>
                        <div class="stars v1">
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#" class="ic-1"></a>
                            <a href="#" class="ic-1"></a>
                            <a href="#" class="ic-1"></a>
                        </div>
                        <h4>Duis accumsan nunc</h4>
                        <p class="text-2">Proin hendrerit, lorem nec fringilla luctus, dolor lectus fringilla odio, vitae imperdiet ligula turpis.</p>
                        <div>Nulla non mi velit! Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia aliquet, nulla sit condimentum semper, augue tortor molestie arcu, at consectetur sem mi sed diam vestibulum.</div>
                        <a href="#" class="link">Read more</a>
                    </div>
                </div>
                <div class="clearfix block-2">
                    <div class="img-bord img-ind w1">
                      <%= image_tag("page-2_img-3.jpg", :alt => "")%>
                    </div>
                    <div>
                        <div class="stars v1">
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#" class="ic-1"></a>
                            <a href="#" class="ic-1"></a>
                        </div>
                        <h4>Nunc dui, sit amet</h4>
                        <p class="text-2">Nam quam odio; ornare eleifend elit quis, facilisis ullamc orper risus. Ut at risus mattis, commodo metus.</p>
                        <div>Nam quam odio; ornare eleifend elit quis, facilisis ullamcorper Cras porta risus at sapien pretium, at malesuada metus rhoncus. Aliquam id dui felis. Fusce posuere adipiscing feugiat. Morbi justo mauris, egesta.</div>
                        <a href="#" class="link">Read more</a>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <h2>Top reviewers</h2>
                <div class="grid_inside">
                    <div class="block-3 clearfix">
                        <div class="grid_2">
                            <div class="img-bord-1">
                              <%= image_tag("page-2_img-4.jpg", :alt => "", :class="wrapper")%>
<!--                              <img src="images/page-2_img-4.jpg" alt="" class="wrapper">-->
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="img-bord-1">
                               <%= image_tag("page-2_img-4.jpg", :alt => "", :class="wrapper")%>
<!--                              <img src="images/page-2_img-5.jpg" alt="" class="wrapper">-->
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="img-bord-1">
                               <%= image_tag("page-2_img-6.jpg", :alt => "", :class="wrapper")%>
<!--                              <img src="images/page-2_img-6.jpg" alt="" class="wrapper">-->
                            </div>
                        </div>
                        <div class="grid_2">
                            <div class="img-bord-1">
                               <%= image_tag("page-2_img-7.jpg", :alt => "", :class="wrapper")%>
<!--                              <img src="images/page-2_img-7.jpg" alt="" class="wrapper">-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-4">
                    <h2 class="v1">Review updates</h2>
                    <h4>Maecenas sem nisl</h4>
                    <p class="text-2">Maecenas sem nisl, rutrum quis adipiscing id, rhoncus volutpat nulla. Proin aliquam gravida nibh sed iaculis. Phasellus egestas.</p>
                    <h4>Enas sem nisl, rutrum</h4>
                    <p class="text-2">Integer rutrum ut eros sed luctus. Curabitur nulla justo! Suspendisse id molestie lorem. Mauris faucibus nisl justo, nec.</p>
                    <h4>Aliquam tempor leo</h4>
                    <div class="text-2">Suspendisse id molestie lorem. Mauris faucibus nisl justo, nec pretium felis tempor imperdiet. Aliquam aliquet libero.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="bord-2 v1"></div>
    <div class="bg-1 pad-bot">
        <div class="container_12">
            <div class="row">
                <div class="grid_8">
                    <h3>New Review</h3>
                    <div class="clearfix block-2">
                        <div class="img-bord img-ind w1">
                           <%= image_tag("page-2_img-8.jpg", :alt => "", :class="wrapper")%>
                        </div>
                        <div>
                            <h4>Duis accumsan nunc dui, sit amet faucibus nunc posuere ac.</h4>
                            <p class="text-2">Nam quam odio; ornare eleifend elit quis, facilisis ullamc orper risus. Ut at risus mattis, commodo metus.</p>
                            <div>Nam quam odio; ornare eleifend elit quis, facilisis ullamcorper Cras porta risus at sapien pretium, at malesuada metus rhoncus. Aliquam id dui felis. Fusce posuere adipiscing feugiat. Morbi justo mauris, egesta.</div>
                            <a href="#" class="link">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="grid_4">
                    <h3>Restaurant List</h3>
                    <ul class="list">
                        <li><a href="#">Maecenas quis accumsan leo</a></li>
                        <li><a href="#">Etiam tincidunt lectus et nisl egestas </a></li>
                        <li><a href="#">Aenean molestie, tellus ac fermentum</a></li>
                        <li><a href="#">Vulputate, felis risus feugiat magna</a></li>
                        <li><a href="#">Sed venenatis velit ante ac turpis </a></li>
                        <li><a href="#">Pellentesque erat magna</a></li>
                        <li><a href="#">Facilisis eu felis non pulvinar blandit</a></li>
                        <li><a href="#">Duis gravida bibendum nunc</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=======footer=================================-->

<footer>
    <div class="container_12">
        <div class="row">
            <div class="grid_12">
                <a href="index.html" class="f-logo">Restaurant Review</a>
                <span class="copyright">© <span id="copyright-year">2014</span> | <a href="index-5.html" class="h-underline">Privacy Policy</a></span>
            </div>
        </div>
    </div>
</footer>

<a href="#" id="toTop" style="right: 50%; margin-right: -193px; display: none;"><span id="toTopHover"></span></a></body></html>